
body{
    background-color:rgb(237, 138, 15)  
}
hr{
    border-style : none;
    border-top-style :dotted;
    border-color :red;
    border-width : 5px;
    width: 5%;
}
/************CLASS SELECTORS***********/
.circular {
border-radius: 100%;
}
