
body{
 
    background-image:url("website.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}
hr{
    border-style : none;
    border-top-style :dotted;
    border-color :rgb(81, 0, 255);
    border-width : 5px;
    width: 5%;
}
/************CLASS SELECTORS***********/
.circular {
border-radius: 100%;
}
